@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$primary-color: #3e6f9e;
$second-color : #cc1b1b;

body {
  font-family: $font;
  color: $primary-color;
} 

h2 {
  color: $second-color;
}